body
{
    margin:0px;
    padding:0px;
    background: #f4f4f4;
}

.box
{
    width:98.9vw;
    height:100vh;
}

.box .important
{
    width:100%;
    height:12%;
    background-color:#f7f8cb;
}

.box .important .text
{
    width:60%;
    height:100%;
    padding-top:1.5%;
    margin-left:10% ;
}

.box .important .text span
{
    font-size:120%;
}

.box .title
{
    width:100%;
    height:5%;
    background-color:#575e5f;
    display:flex;
}

.box .title .not
{
    width:70%;
    height:100%;
}
.box .title .text
{
    width:30%;
    height:100%;
    display:flex;
}

.box .title .test a
{
    color:white;
    font-size:140%;
    text-decoration:none;
}

.box .menu
{
    width:100%;
    height:9%;
    background-color:#aeb162;
    display:flex;
}
.box .menu .not
{
    width:20%;
    height:100%;
}

/*********************************************/

.dropdown-menu ul
{
    list-style:none;
    font-style:1rem;
}

.dropdown-menu
{
    padding-top:12px;
    position: relative;
    display: inline-block;
    height:100%;
    width:150px;
    font-size:120%;
    color:white;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    line-height:45px;
    text-align: center;
    cursor:pointer;
}

.dropdown
{
    margin: 0px;
    position:absolute;
    padding-left:0px;
    width:150px;
}

.dropdown li
{
    display: none;
    opacity:0;
    color: black;
    font-size:75%;
    background-color:#f9f9e6;
    transition: color .3s;
}

.dropdown li a
{
    text-decoration:none;
    color: black;
}

.dropdown li:hover
{
    background-color: #aeb162;
}

.dropdown-menu:hover .dropdown li 
{
    display: block;
    animation: animation .5s forwards;
}

@keyframes animation
{
    from
    {
        opacity: 0;
        transform: translate(50px);
    }
    to
    {
        opacity: 1;
        transform: translate(0);
    }
}

.dropdown-menu .dropdown li:nth-last-child(1)
{
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.dropdown-menu:hover .dropdown li:nth-child(2)
{
    animation-delay: .2s;
}

.dropdown-menu:hover .dropdown li:nth-child(3)
{
    animation-delay: .4s;
}

.dropdown-menu:hover .dropdown li:nth-child(4)
{
    animation-delay: .6s;
}

.dropdown-menu:hover .dropdown li:nth-child(5)
{
    animation-delay: .8s;
}

/*********************************************/

.slider_container 
{
    width: 100%;
    height: 60%;
    overflow: hidden;
    position: relative;
    background-color: #f5f5f5;
    z-index: -1;
}
.slider_container .pic 
{
  width:100%;
  height:100%;
  position: absolute;
  opacity: 1;
  filter: alpha(opacity=100);
  left: 100%;
  -webkit-animation: round 25s linear infinite;
  animation: round 25s linear infinite;
}
.slider_container .pic img 
{
  width:100%;
  height:100%;
}
@-webkit-keyframes round 
{
  4% 
  {
      opacity: 1;
      filter: alpha(opacity=100);
      left:0%;
  }
  20% 
  {
      opacity: 1;
      filter: alpha(opacity=100);
      left:0%;
  }
  25% 
  {
      opacity: 0;
      filter: alpha(opacity=0);
      left:-100%;
  }
  28% 
  {
    opacity: 0;
    filter: alpha(opacity=0);
    left: 100%;
  }
}
.slider_container div:nth-child(1) 
{
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.slider_container div:nth-child(2) 
{
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
}
.slider_container div:nth-child(3) 
{
  -webkit-animation-delay: 10s;
  animation-delay: 10s;
}
.slider_container div:nth-child(4) 
{
  -webkit-animation-delay: 15s;
  animation-delay: 15s;
}
.slider_container div:nth-child(5) 
{
  -webkit-animation-delay: 20s;
  animation-delay: 20s;
}

/*********************************************/

.box .input
{
    width:75%;
    height:30%;
    background-color:#aeb162;
    position: relative;
    top:-10%;
    margin:auto;
    box-shadow:5% 10% 10% 10%;
    margin-bottom:3%;
}

.box .input .text
{
    width:100%;
    padding-top:1%;
    height:25%;
}

.box .input .text span
{
    font-size:150%;
    color: #333;
    padding-left:1%;
}

.box .input .put
{
    width:100%;
    height:40%;
    padding-left:1%;
    display:flex;
}

.box .input .put form
{
    width:100%;
    height:100%;
}

.box .input .put .select
{
    width:20%;
    height:90%;
    border:1% gray;
    color: #333;
    font-size: 150%;
    margin-right:3%;
}

.box .input .put input
{
    width:20%;
    height:90%;
    border:1% gray;
    color: #333;
    font-size: 150%;
    margin-right:3%;
}

.box .input .button input
{
    width:10%;
    height:80%;
    padding:1%;
    color: #333;
    font-size: 150%;
    margin-left:80%;
}

/*********************************************/

.box .special
{
    width:75%;
    height:60%;
    position: relative;
    top:-10%;
    margin:auto;
    display:flex;
    box-shadow:5% 10% 10% 10%;
}

.box .special .box1
{
    width:47.5%;
    height:100%;
    margin-right:2.5%;
}

.box .special .box1 .text
{
    width:100%;
    height:10%;
    font-size:150%;
    font-weight:bold;
    color: #333;
}

.box .special .box1 .pic
{
    width:100%;
    height:90%;
    background-color: #509aa4;
}

.box .special .box1 .pic img
{
    width:100%;
    height:100%;
}

/*********************************************/

.box .special .box2
{
    width:47.5%;
    height:100%;
    margin-left:2.5%;
}

.box .special .box2 .text
{
    width:100%;
    height:10%;
    font-size:150%;
    font-weight:bold;
    color: #333;
}

.box .special .box2 .put
{
    width:100%;
    height:90%;
}

.box .special .box2 .put .square1
{
    width:100%;
    height:47.5%;
    margin-bottom:3.5%;
    display:flex;
}

.box .special .box2 .put .square1 .box3
{
    width:47.5%;
    height:100%;
    background-color: white;
    margin-right:2.5%;
    box-shadow: 5px 5px 5px 5px #bfbdbd;
}

.box .special .box2 .put .square1 .box3 .text1
{
    width:100%;
    height:30%; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:140%;
}

.box .special .box2 .put .square1 .box3 .text2
{
    width:100%;
    height:30%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:140%;
}

.box .special .box2 .put .square1 .box3 .put1
{
    width:100%;
    height:40%; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:140%;
}

.box .special .box2 .put .square1 .box3 input
{
    width:70%;
    height:60%;
    padding:1%;
    color: #333;
    font-size:100%;
}

.box .special .box2 .put .square1 .box3 span
{
    display: inline-block;
}

/*********************************************/

.box .special .box2 .put .square1 .box4
{
    width:47.5%;
    height:100%;
    background-color: white;
    margin-left:2.5%;
    box-shadow: 5px 5px 5px 5px #bfbdbd;
}

.box .special .box2 .put .square1 .box4 .text1
{
    width:100%;
    height:30%; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:140%;
}

.box .special .box2 .put .square1 .box4 .text2
{
    width:100%;
    height:30%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:140%;
}

.box .special .box2 .put .square1 .box4 .put1
{
    width:100%;
    height:40%; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:140%;
}

.box .special .box2 .put .square1 .box4 input
{
    width:70%;
    height:60%;
    padding:1%;
    color: #333;
    font-size:100%;
}

.box .special .box2 .put .square1 .box4 span
{
    display: inline-block;
}

/*********************************************/

.box .special .box2 .put .square2
{
    width:100%;
    height:47.5%;
    margin-top:3.5%;
    display:flex;
}

.box .special .box2 .put .square2 .box3
{
    width:47.5%;
    height:100%;
    background-color: white;
    margin-right:2.5%;
    box-shadow: 5px 5px 5px 5px #bfbdbd;
}

.box .special .box2 .put .square2 .box3 .text1
{
    width:100%;
    height:30%; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:140%;
}

.box .special .box2 .put .square2 .box3 .text2
{
    width:100%;
    height:30%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:140%;
}

.box .special .box2 .put .square2 .box3 .put1
{
    width:100%;
    height:40%; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:140%;
}

.box .special .box2 .put .square2 .box3 input
{
    width:70%;
    height:60%;
    padding:1%;
    color: #333;
    font-size:100%;
}

.box .special .box2 .put .square2 .box3 span
{
    display: inline-block;
}

/*********************************************/

.box .special .box2 .put .square2 .box4
{
    width:47.5%;
    height:100%;
    background-color: white;
    margin-left:2.5%;
    box-shadow: 5px 5px 5px 5px #bfbdbd;
}

.box .special .box2 .put .square2 .box4 .text1
{
    width:100%;
    height:30%; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:140%;
}

.box .special .box2 .put .square2 .box4 .text2
{
    width:100%;
    height:30%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:140%;
}

.box .special .box2 .put .square2 .box4 .put1
{
    width:100%;
    height:40%; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:140%;
}

.box .special .box2 .put .square2 .box4 input
{
    width:70%;
    height:60%;
    padding:1%;
    color: #333;
    font-size:100%;
}

.box .special .box2 .put .square2 .box4 span
{
    display: inline-block;
}

/*********************************************/

.box .new
{
    width:100%;
    height:50%;
    background-color: white;
}

.box .new .test
{
    width:100%;
    height:20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:150%;
    font-weight:bold;
    color: #333;
}

.box .new .put
{
    width:100%;
    height:10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:110%;
    color: #333;
}

.box .new .box1
{
    margin-top:2%;
    width:100%;
    height:50%;
    display:flex;
}

.box .new .box1 .text1
{
    width:40%;
    height:100%;
    margin-left:10%;
    border-left: 2px solid #f3f3f3;
    font-size:130%;
    color: #333;
}

.box .new .box1 .text2
{
    width:40%;
    height:100%;
    margin-right:10%;
    border-left: 2px solid #f3f3f3;
    font-size:130%;
    color: #333;
}

/*********************************************/

.box .buttom
{
    width:100%;
    height:100%;
    background-color: #509aa4;
    background: url('../img/2.jpg');
    background-size:100vw 100vh;
}

.box .buttom .not
{
    width:100%;
    height:20%;
}

.box .buttom .text
{
    width:100%;
    height:10%;
    color:white;
    font-size:250%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box .buttom .text1
{
    width:100%;
    height:5%;
    color:white;
    font-size:150%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*********************************************/

